receiver/nopreceiver/           @newrelic/caos
internal/common/                @newrelic/caos
internal/tools/                 @newrelic/caos
cmd/nrotelcomponents/           @newrelic/caos
connector/apmconnector/         @jlegoff @sdaubin @alanwest
processor/apmprocessor/         @jlegoff @sdaubin @alanwest
