{{- define "depInfo" -}}
{{- range $i, $dep := . }}

## [{{ $dep.Name }}]({{ $dep.URL }})

Distributed under the following license(s):

* {{ $dep.LicenceType }}

{{ end }}
{{- end -}}

# Third Party Notices

The New Relic infrastructure agent uses source code from third
party libraries which carry
their own copyright notices and license terms. These notices ar
e provided
below.

In the event that a required notice is missing or incorrect, pl
ease notify us
either by [opening an issue](https://github.com/newrelic/infras
tructure-agent/issues/new),
or by e-mailing [open-source@newrelic.com](mailto:open-source@n
ewrelic.com).

For any licenses that require the disclosure of source code, th
e source code
can be found at https://github.com/newrelic/infrastructure-agen
t/.


{{ template "depInfo" .Direct }}

{{ if .Indirect }}

Indirect dependencies

{{ template "depInfo" .Indirect }}
{{ end }}
